.cursor-pointer {
    cursor: pointer;
}
body {
    font-family: 'Lato', sans-serif;
}
#package-to-track {
    /* overflow-x: scroll;
    white-space: nowrap; */
}
#package-to-track div {
    flex: 1 0 auto;
}

.overflow-x-auto {
    overflow-x: scroll;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 10px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: #ffffff;
}

.overflow-x-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(209, 208, 208);
    border-radius: 8px;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #eeecec;
    border-radius: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #bdbbbb;
}

#container {
    max-width: 750px;
    width: 95%;
}


.d-flex {
    display: flex !important;
}
.p-2 {
    padding: .5rem !important
}

.flex-column {
    flex-direction: column !important;
} 
.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.ml-auto {
    margin-left: auto;
}

.btn-outline-light {
    background: #f5f3f3;
    color: grey;

}

.btn-outline-light:hover,
.btn-outline-light:focus {
    color: #000;
    background-color: #f5f3f3;
}

.btn-outline-light.active {
    background: #fff;
    border-color: #f3f3f3;
}

.bg-grey {
    background: #f5f3f3;
}

.range-selector input {
    max-width: 120px;
}

#chartContainer .canvasjs-chart-tooltip > div {
    padding: 12px !important;
}

.fw-bold {
    font-weight: bold !important;
}

.rounded {
    border-radius: 4px;
}

.context-menu {
  display: none; /* Hidden by default */
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1000;
  padding: 8px 0px;
}
.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li {
  padding: 8px 15px;
  cursor: pointer;
}
.context-menu li:hover {
  background-color: #f0f0f0;
}